name: Build and Push Docker Image (CI)

on:
  push:
    branches:
      - main

env:
  IMAGE_NAME: your-dockerhub-username/web-project

jobs:
  build:
    name: Build and Push
    runs-on: ubuntu-latest

    env:
      IMAGE_NAME: NewErr0r/web-project

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: ${{ env.IMAGE_NAME }}:${{ github.sha }}
          builder: |
            FROM php:8-cli
            COPY ./web_project /usr/src/myapp
            WORKDIR /usr/src/myapp
