name: CI/CD Pipeline

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  DOCKER_HUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
  DOCKER_HUB_PASSWORD: ${{ secrets.DOCKERHUB_TOKEN }}
  VAULT_PASS: ${{ secrets.VAULT_PASS }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    if: github.event_name == 'push' || github.event_name == 'workflow_dispatch' && contains(github.event.inputs.path, 'web_project/')
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build and run Docker container
        env:
          SERVER_CRT: ${{ secrets.SERVER_CRT }}
          SERVER_KEY: ${{ secrets.SERVER_KEY }}
        run: |
          SERVER_CRT_ESC=$(echo "$SERVER_CRT" | sed 's/\\/\\\\/g; s/\//\\\//g; s/&/\\\&/g')
          SERVER_KEY_ESC=$(echo "$SERVER_KEY" | sed 's/\\/\\\\/g; s/\//\\\//g; s/&/\\\&/g')
          docker build --build-arg server_crt="$SERVER_CRT_ESC" --build-arg server_key="$SERVER_KEY_ESC" -t newerr0r/web-project:latest .


      - name: Log in to Docker Hub
        run: echo "${DOCKER_HUB_PASSWORD}" | docker login -u "${DOCKER_HUB_USERNAME}" --password-stdin
        
      - name: Push Docker image to Docker Hub
        run: docker push newerr0r/web-project:latest

  ansible-deployment:
    runs-on: ubuntu-latest
    if: ${{ contains(github.event.head_commit.modified, 'inventory') }}
    needs: build-and-push
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
  
      - name: Install ssh-agent
        uses: webfactory/ssh-agent@v0.4.1
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
  
      - name: Add SSH private key
        run: echo "${{ secrets.SSH_PRIVATE_KEY }}" | ssh-add -
  
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y software-properties-common
          sudo apt-add-repository ppa:ansible/ansible
          sudo apt-get update
          sudo apt-get install -y ansible
        
      - name: Run Ansible playbook
        run: ansible-playbook playbook.yml -i inventory --vault-password-file=<(echo $VAULT_PASS)

  docker-deployment:
    runs-on: ubuntu-latest
    needs: build-and-push
    if: ${{ always() }} && success() && needs.ansible-deployment.result == 'success'
    steps:
      - name: Execute Docker commands on remote server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST_IP }}
          username: ${{ secrets.SSH_USERNAME }}
          password: ${{ secrets.SSH_PASSWORD }}
          script: |
            docker stop web-project
            docker rm web-project
            docker rmi  newerr0r/web-project:latest
            docker pull newerr0r/web-project:latest
            docker run --name web-project -d -p 443:443 newerr0r/web-project
